@keyframes shakeHead {
	0% {
		filter: blur(2px);
		transform: translate(10px, 0px);
	}

	100% {
		filter: blur(2px);
		transform: translate(-10px, 0px);
	}
}
html {
	box-sizing: border-box;
	background: url("http://wes.io/hx9M/oh-la-la.jpg") center no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

svg {
	fill: white;
	background: rgba(0, 0, 0, 0.1);
	padding: 20px;
	border-radius: 50%;
	width: 200px;
	margin-bottom: 50px;
}

.wrapper {
	padding: 20px;
	max-width: 350px;
    background: rgb(198 223 241);
	border-radius: 10%;
	box-shadow: 0 0 0 2px rgb(0 0 0/78%);
}

h2 {
	text-align: center;
	margin: 0;
	font-weight: 200;
	background: white;
	border: solid 1px black;
}

.list {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style: none;
}

.list li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px 0;
	font-weight: 100;
	display: flex;
}

.list label {
	flex: 1;
	cursor: pointer;
}

.list input {
	display: none;
}

.list input + label:before {
	content: "⬜️";
	margin-right: 10px;
}

.list input:checked + label:before {
	content: "✅";
}

.add-items {
	margin-top: 20px;
}

.add-items input {
	padding: 10px;
	outline: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
